Templates/fabric-autoscale-template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "[concat('fabricautoscale-', uniqueString(resourceGroup().id))]",
      "metadata": {
        "description": "Name of the Logic App"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "fabricCapacityName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Fabric capacity to monitor and scale"
      }
    },
    "fabricSubscriptionId": {
      "type": "string",
      "defaultValue": "[subscription().subscriptionId]",
      "metadata": {
        "description": "Subscription ID containing the Fabric capacity"
      }
    },
    "fabricResourceGroup": {
      "type": "string",
      "metadata": {
        "description": "Resource group containing the Fabric capacity"
      }
    },
    "fabricWorkspaceId": {
      "type": "string",
      "metadata": {
        "description": "Power BI workspace ID containing the Capacity Metrics App"
      }
    },
    "capacityMetricsDatasetId": {
      "type": "string",
      "metadata": {
        "description": "Dataset ID of the Capacity Metrics App in your workspace. To find: Go to Power BI > Workspace > Dataset settings > Copy GUID from URL (format: 12345678-1234-1234-1234-123456789abc)"
      }
    },
    "scaleUpThreshold": {
      "type": "int",
      "defaultValue": 80,
      "minValue": 0,
      "maxValue": 100,
      "metadata": {
        "description": "CPU utilization percentage threshold for scaling up"
      }
    },
    "scaleDownThreshold": {
      "type": "int",
      "defaultValue": 30,
      "minValue": 0,
      "maxValue": 100,
      "metadata": {
        "description": "CPU utilization percentage threshold for scaling down"
      }
    },
    "scaleUpSku": {
      "type": "string",
      "defaultValue": "F128",
      "metadata": {
        "description": "SKU to scale up to (e.g., F128, F256, F512)"
      }
    },
    "scaleDownSku": {
      "type": "string",
      "defaultValue": "F64",
      "metadata": {
        "description": "SKU to scale down to (e.g., F2, F4, F8, F16, F32, F64)"
      }
    },
    "sustainedMinutes": {
      "type": "int",
      "defaultValue": 15,
      "minValue": 5,
      "maxValue": 60,
      "metadata": {
        "description": "Number of minutes a threshold must be sustained before scaling (minimum 3 data points required)"
      }
    },
    "checkIntervalMinutes": {
      "type": "int",
      "defaultValue": 5,
      "minValue": 1,
      "maxValue": 30,
      "metadata": {
        "description": "How often to check capacity metrics (in minutes)"
      }
    },
    "emailRecipient": {
      "type": "string",
      "metadata": {
        "description": "Email address to receive scaling notifications"
      }
    },
    "storageAccountName": {
      "type": "string",
      "defaultValue": "[concat('stfabric', uniqueString(resourceGroup().id))]",
      "metadata": {
        "description": "Storage account name for Logic App diagnostics"
      }
    },
    "appInsightsName": {
      "type": "string",
      "defaultValue": "[concat('ai-fabricautoscale-', uniqueString(resourceGroup().id))]",
      "metadata": {
        "description": "Application Insights name for monitoring"
      }
    }
  },
  "variables": {
    "office365ConnectionName": "[concat('office365-', parameters('logicAppName'))]",
    "office365ConnectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2021-09-01",
      "name": "[parameters('storageAccountName')]",
      "location": "[parameters('location')]",
      "sku": {
        "name": "Standard_LRS"
      },
      "kind": "StorageV2",
      "properties": {
        "minimumTlsVersion": "TLS1_2",
        "allowBlobPublicAccess": false,
        "supportsHttpsTrafficOnly": true
      }
    },
    {
      "type": "Microsoft.Insights/components",
      "apiVersion": "2020-02-02",
      "name": "[parameters('appInsightsName')]",
      "location": "[parameters('location')]",
      "kind": "web",
      "properties": {
        "Application_Type": "web",
        "RetentionInDays": 90
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365 Outlook",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
        "[resourceId('Microsoft.Insights/components', parameters('appInsightsName'))]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object"
            },
            "fabricSubscriptionId": {
              "type": "String"
            },
            "fabricResourceGroup": {
              "type": "String"
            },
            "fabricCapacityName": {
              "type": "String"
            },
            "fabricWorkspaceId": {
              "type": "String"
            },
            "capacityMetricsDatasetId": {
              "type": "String"
            },
            "scaleUpThreshold": {
              "type": "Int"
            },
            "scaleDownThreshold": {
              "type": "Int"
            },
            "scaleUpSku": {
              "type": "String"
            },
            "scaleDownSku": {
              "type": "String"
            },
            "sustainedMinutes": {
              "type": "Int"
            },
            "emailRecipient": {
              "type": "String"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Minute",
                "interval": "[parameters('checkIntervalMinutes')]"
              }
            }
          },
          "actions": {
            "Initialize_StartTime": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "startTime",
                    "type": "string",
                    "value": "@{addMinutes(utcNow(), mul(parameters('sustainedMinutes'), -1))}"
                  }
                ]
              },
              "runAfter": {}
            },
            "Get_Current_Capacity_Info": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://management.azure.com/subscriptions/@{parameters('fabricSubscriptionId')}/resourceGroups/@{parameters('fabricResourceGroup')}/providers/Microsoft.Fabric/capacities/@{parameters('fabricCapacityName')}?api-version=2023-11-01",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://management.azure.com/"
                }
              },
              "runAfter": {
                "Initialize_StartTime": [
                  "Succeeded"
                ]
              }
            },
            "Parse_Capacity_Info": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_Current_Capacity_Info')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "sku": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "tier": {
                          "type": "string"
                        }
                      }
                    },
                    "properties": {
                      "type": "object",
                      "properties": {
                        "state": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Get_Current_Capacity_Info": [
                  "Succeeded"
                ]
              }
            },
            "Query_Capacity_Metrics": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://api.powerbi.com/v1.0/myorg/groups/@{parameters('fabricWorkspaceId')}/datasets/@{parameters('capacityMetricsDatasetId')}/executeQueries",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://analysis.windows.net/powerbi/api"
                },
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "queries": [
                    {
                      "query": "EVALUATE TOPN(30, 'Usage Summary (Last 1 hour)', 'Usage Summary (Last 1 hour)'[Timestamp], DESC)"
                    }
                  ],
                  "serializerSettings": {
                    "includeNulls": false
                  }
                }
              },
              "runAfter": {
                "Parse_Capacity_Info": [
                  "Succeeded"
                ]
              }
            },
            "Parse_Metrics_Response": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Query_Capacity_Metrics')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tables": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "rows": {
                                  "type": "array"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Query_Capacity_Metrics": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_HighCount": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "sustainedHighCount",
                    "type": "integer",
                    "value": 0
                  }
                ]
              },
              "runAfter": {
                "Parse_Metrics_Response": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_LowCount": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "sustainedLowCount",
                    "type": "integer",
                    "value": 0
                  }
                ]
              },
              "runAfter": {
                "Initialize_HighCount": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_TotalUtilization": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "totalUtilization",
                    "type": "float",
                    "value": 0.0
                  }
                ]
              },
              "runAfter": {
                "Initialize_LowCount": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_DataPointCount": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "dataPointCount",
                    "type": "integer",
                    "value": 0
                  }
                ]
              },
              "runAfter": {
                "Initialize_TotalUtilization": [
                  "Succeeded"
                ]
              }
            },
            "For_Each_Metric_Row": {
              "type": "Foreach",
              "foreach": "@body('Parse_Metrics_Response')?['results']?[0]?['tables']?[0]?['rows']",
              "actions": {
                "Increment_DataPointCount": {
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "dataPointCount",
                    "value": 1
                  }
                },
                "Add_To_TotalUtilization": {
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "totalUtilization",
                    "value": "@float(item()[1])"
                  },
                  "runAfter": {
                    "Increment_DataPointCount": [
                      "Succeeded"
                    ]
                  }
                },
                "Check_High_Threshold": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greaterOrEquals": [
                          "@float(item()[1])",
                          "@parameters('scaleUpThreshold')"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Increment_HighCount": {
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "sustainedHighCount",
                        "value": 1
                      }
                    }
                  },
                  "runAfter": {
                    "Add_To_TotalUtilization": [
                      "Succeeded"
                    ]
                  }
                },
                "Check_Low_Threshold": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "lessOrEquals": [
                          "@float(item()[1])",
                          "@parameters('scaleDownThreshold')"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Increment_LowCount": {
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "sustainedLowCount",
                        "value": 1
                      }
                    }
                  },
                  "runAfter": {
                    "Check_High_Threshold": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Initialize_DataPointCount": [
                  "Succeeded"
                ]
              }
            },
            "Calculate_Average_Utilization": {
              "type": "Compose",
              "inputs": "@if(greater(variables('dataPointCount'), 0), div(variables('totalUtilization'), variables('dataPointCount')), 0)",
              "runAfter": {
                "For_Each_Metric_Row": [
                  "Succeeded"
                ]
              }
            },
            "Check_Scale_Up_Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greaterOrEquals": [
                      "@variables('sustainedHighCount')",
                      3
                    ]
                  },
                  {
                    "not": {
                      "equals": [
                        "@body('Parse_Capacity_Info')?['sku']?['name']",
                        "@parameters('scaleUpSku')"
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "Scale_Up_Capacity": {
                  "type": "Http",
                  "inputs": {
                    "method": "PATCH",
                    "uri": "https://management.azure.com/subscriptions/@{parameters('fabricSubscriptionId')}/resourceGroups/@{parameters('fabricResourceGroup')}/providers/Microsoft.Fabric/capacities/@{parameters('fabricCapacityName')}?api-version=2023-11-01",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://management.azure.com/"
                    },
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "sku": {
                        "name": "@{parameters('scaleUpSku')}",
                        "tier": "Fabric"
                      }
                    }
                  }
                },
                "Send_ScaleUp_Email": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/Mail",
                    "body": {
                      "To": "@parameters('emailRecipient')",
                      "Subject": "Fabric Capacity Scaled UP - @{parameters('fabricCapacityName')}",
                      "Body": "<p><strong>Fabric Capacity Auto-Scale Alert</strong></p><p><strong>Action:</strong> SCALED UP</p><p><strong>Capacity:</strong> @{parameters('fabricCapacityName')}</p><p><strong>Previous SKU:</strong> @{body('Parse_Capacity_Info')?['sku']?['name']}</p><p><strong>New SKU:</strong> @{parameters('scaleUpSku')}</p><p><strong>Trigger:</strong> Sustained high utilization (@{variables('sustainedHighCount')} violations over @{parameters('sustainedMinutes')} minutes)</p><p><strong>Average Utilization:</strong> @{outputs('Calculate_Average_Utilization')}%</p><p><strong>Threshold:</strong> @{parameters('scaleUpThreshold')}%</p><p><strong>Timestamp:</strong> @{utcNow()}</p>",
                      "Importance": "High"
                    }
                  },
                  "runAfter": {
                    "Scale_Up_Capacity": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Calculate_Average_Utilization": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Check_Scale_Down_Condition": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "greaterOrEquals": [
                            "@variables('sustainedLowCount')",
                            3
                          ]
                        },
                        {
                          "not": {
                            "equals": [
                              "@body('Parse_Capacity_Info')?['sku']?['name']",
                              "@parameters('scaleDownSku')"
                            ]
                          }
                        }
                      ]
                    },
                    "actions": {
                      "Scale_Down_Capacity": {
                        "type": "Http",
                        "inputs": {
                          "method": "PATCH",
                          "uri": "https://management.azure.com/subscriptions/@{parameters('fabricSubscriptionId')}/resourceGroups/@{parameters('fabricResourceGroup')}/providers/Microsoft.Fabric/capacities/@{parameters('fabricCapacityName')}?api-version=2023-11-01",
                          "authentication": {
                            "type": "ManagedServiceIdentity",
                            "audience": "https://management.azure.com/"
                          },
                          "headers": {
                            "Content-Type": "application/json"
                          },
                          "body": {
                            "sku": {
                              "name": "@{parameters('scaleDownSku')}",
                              "tier": "Fabric"
                            }
                          }
                        }
                      },
                      "Send_ScaleDown_Email": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['office365']['connectionId']"
                            }
                          },
                          "method": "post",
                          "path": "/v2/Mail",
                          "body": {
                            "To": "@parameters('emailRecipient')",
                            "Subject": "Fabric Capacity Scaled DOWN - @{parameters('fabricCapacityName')}",
                            "Body": "<p><strong>Fabric Capacity Auto-Scale Alert</strong></p><p><strong>Action:</strong> SCALED DOWN</p><p><strong>Capacity:</strong> @{parameters('fabricCapacityName')}</p><p><strong>Previous SKU:</strong> @{body('Parse_Capacity_Info')?['sku']?['name']}</p><p><strong>New SKU:</strong> @{parameters('scaleDownSku')}</p><p><strong>Trigger:</strong> Sustained low utilization (@{variables('sustainedLowCount')} violations over @{parameters('sustainedMinutes')} minutes)</p><p><strong>Average Utilization:</strong> @{outputs('Calculate_Average_Utilization')}%</p><p><strong>Threshold:</strong> @{parameters('scaleDownThreshold')}%</p><p><strong>Timestamp:</strong> @{utcNow()}</p>",
                            "Importance": "Normal"
                          }
                        },
                        "runAfter": {
                          "Scale_Down_Capacity": [
                            "Succeeded"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[variables('office365ConnectionId')]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
              }
            }
          },
          "fabricSubscriptionId": {
            "value": "[parameters('fabricSubscriptionId')]"
          },
          "fabricResourceGroup": {
            "value": "[parameters('fabricResourceGroup')]"
          },
          "fabricCapacityName": {
            "value": "[parameters('fabricCapacityName')]"
          },
          "fabricWorkspaceId": {
            "value": "[parameters('fabricWorkspaceId')]"
          },
          "capacityMetricsDatasetId": {
            "value": "[parameters('capacityMetricsDatasetId')]"
          },
          "scaleUpThreshold": {
            "value": "[parameters('scaleUpThreshold')]"
          },
          "scaleDownThreshold": {
            "value": "[parameters('scaleDownThreshold')]"
          },
          "scaleUpSku": {
            "value": "[parameters('scaleUpSku')]"
          },
          "scaleDownSku": {
            "value": "[parameters('scaleDownSku')]"
          },
          "sustainedMinutes": {
            "value": "[parameters('sustainedMinutes')]"
          },
          "emailRecipient": {
            "value": "[parameters('emailRecipient')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]"
    },
    "roleAssignmentCommands": {
      "type": "string",
      "value": "[concat('# Assign Contributor role on Fabric capacity:\naz role assignment create --assignee ', reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId, ' --role Contributor --scope /subscriptions/', parameters('fabricSubscriptionId'), '/resourceGroups/', parameters('fabricResourceGroup'), '/providers/Microsoft.Fabric/capacities/', parameters('fabricCapacityName'), '\n\n# Grant Power BI REST API permissions - run in Azure Portal > Enterprise Applications > search for Logic App principal ID > API permissions')]"
    },
    "nextSteps": {
      "type": "string",
      "value": "1) Authorize Office 365 connection in Azure Portal > Resource Group > office365 connection. 2) Run the role assignment commands from 'roleAssignmentCommands' output. 3) Grant Power BI permissions to the Logic App managed identity. See DEPLOYMENT-GUIDE.md for detailed steps."
    }
  }
}
