Templates/fabric-autoscale-template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "[concat('fabricautoscale-', uniqueString(resourceGroup().id))]",
      "metadata": {
        "description": "Name of the Logic App"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "fabricCapacityName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Fabric capacity to monitor and scale"
      }
    },
    "fabricSubscriptionId": {
      "type": "string",
      "defaultValue": "[subscription().subscriptionId]",
      "metadata": {
        "description": "Subscription ID containing the Fabric capacity"
      }
    },
    "fabricResourceGroup": {
      "type": "string",
      "metadata": {
        "description": "Resource group containing the Fabric capacity"
      }
    },
    "fabricWorkspaceId": {
      "type": "string",
      "metadata": {
        "description": "Power BI workspace ID containing the Capacity Metrics App"
      }
    },
    "capacityMetricsDatasetId": {
      "type": "string",
      "metadata": {
        "description": "Dataset ID of the Capacity Metrics App in your workspace. To find: Go to Power BI > Workspace > Dataset settings > Copy GUID from URL (format: 12345678-1234-1234-1234-123456789abc)"
      }
    },
    "scaleUpThreshold": {
      "type": "int",
      "defaultValue": 100,
      "minValue": 0,
      "maxValue": 200,
      "metadata": {
        "description": "CPU utilization percentage threshold for scaling up"
      }
    },
    "scaleDownThreshold": {
      "type": "int",
      "defaultValue": 50,
      "minValue": 0,
      "maxValue": 100,
      "metadata": {
        "description": "CPU utilization percentage threshold for scaling down"
      }
    },
    "scaleUpSku": {
      "type": "string",
      "defaultValue": "F128",
      "metadata": {
        "description": "SKU to scale up to (e.g., F128, F256, F512)"
      }
    },
    "scaleDownSku": {
      "type": "string",
      "defaultValue": "F64",
      "metadata": {
        "description": "SKU to scale down to (e.g., F2, F4, F8, F16, F32, F64)"
      }
    },
    "scaleUpMinutes": {
      "type": "int",
      "defaultValue": 5,
      "minValue": 1,
      "maxValue": 15,
      "metadata": {
        "description": "Minutes utilization must stay above threshold before scaling UP (default: 5, max: 15). Uses 30-second data points."
      }
    },
    "scaleDownMinutes": {
      "type": "int",
      "defaultValue": 15,
      "minValue": 1,
      "maxValue": 30,
      "metadata": {
        "description": "Minutes utilization must stay below threshold before scaling DOWN (default: 15, max: 30). Uses 30-second data points."
      }
    },
    "checkIntervalMinutes": {
      "type": "int",
      "defaultValue": 5,
      "minValue": 1,
      "maxValue": 30,
      "metadata": {
        "description": "How often to check capacity metrics (in minutes)"
      }
    },
    "emailRecipient": {
      "type": "string",
      "metadata": {
        "description": "Email address to receive scaling notifications"
      }
    },
    "storageAccountName": {
      "type": "string",
      "defaultValue": "[concat('stfabric', uniqueString(resourceGroup().id))]",
      "metadata": {
        "description": "Storage account name for Logic App diagnostics"
      }
    },
    "appInsightsName": {
      "type": "string",
      "defaultValue": "[concat('ai-fabricautoscale-', uniqueString(resourceGroup().id))]",
      "metadata": {
        "description": "Application Insights name for monitoring"
      }
    }
  },
  "variables": {
    "office365ConnectionName": "[concat('office365-', parameters('logicAppName'))]",
    "office365ConnectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2021-09-01",
      "name": "[parameters('storageAccountName')]",
      "location": "[parameters('location')]",
      "sku": {
        "name": "Standard_LRS"
      },
      "kind": "StorageV2",
      "properties": {
        "minimumTlsVersion": "TLS1_2",
        "allowBlobPublicAccess": false,
        "supportsHttpsTrafficOnly": true
      }
    },
    {
      "type": "Microsoft.Insights/components",
      "apiVersion": "2020-02-02",
      "name": "[parameters('appInsightsName')]",
      "location": "[parameters('location')]",
      "kind": "web",
      "properties": {
        "Application_Type": "web",
        "RetentionInDays": 90
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365 Outlook",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
        "[resourceId('Microsoft.Insights/components', parameters('appInsightsName'))]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object"
            },
            "fabricSubscriptionId": {
              "type": "String",
              "defaultValue": ""
            },
            "fabricResourceGroup": {
              "type": "String",
              "defaultValue": ""
            },
            "fabricCapacityName": {
              "type": "String",
              "defaultValue": ""
            },
            "fabricWorkspaceId": {
              "type": "String",
              "defaultValue": ""
            },
            "capacityMetricsDatasetId": {
              "type": "String",
              "defaultValue": ""
            },
            "scaleUpThreshold": {
              "type": "Int",
              "defaultValue": 100
            },
            "scaleDownThreshold": {
              "type": "Int",
              "defaultValue": 50
            },
            "scaleUpSku": {
              "type": "String",
              "defaultValue": "F128"
            },
            "scaleDownSku": {
              "type": "String",
              "defaultValue": "F64"
            },
            "scaleUpMinutes": {
              "type": "Int",
              "defaultValue": 5
            },
            "scaleDownMinutes": {
              "type": "Int",
              "defaultValue": 15
            },
            "emailRecipient": {
              "type": "String",
              "defaultValue": ""
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Minute",
                "interval": "[parameters('checkIntervalMinutes')]"
              }
            }
          },
          "actions": {
            "Get_Current_Capacity_Info": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://management.azure.com/subscriptions/@{parameters('fabricSubscriptionId')}/resourceGroups/@{parameters('fabricResourceGroup')}/providers/Microsoft.Fabric/capacities/@{parameters('fabricCapacityName')}?api-version=2023-11-01",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://management.azure.com/"
                }
              },
              "runAfter": {}
            },
            "Parse_Capacity_Info": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_Current_Capacity_Info')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "sku": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "tier": {
                          "type": "string"
                        }
                      }
                    },
                    "properties": {
                      "type": "object",
                      "properties": {
                        "state": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Get_Current_Capacity_Info": [
                  "Succeeded"
                ]
              }
            },
            "Query_Capacity_Metrics": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://api.powerbi.com/v1.0/myorg/groups/@{parameters('fabricWorkspaceId')}/datasets/@{parameters('capacityMetricsDatasetId')}/executeQueries",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://analysis.windows.net/powerbi/api"
                },
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "queries": [
                    {
                      "query": "EVALUATE 'Usage Summary (Last 1 hour)'"
                    }
                  ],
                  "serializerSettings": {
                    "includeNulls": false
                  }
                }
              },
              "runAfter": {
                "Parse_Capacity_Info": [
                  "Succeeded"
                ]
              }
            },
            "Parse_Metrics_Response": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Query_Capacity_Metrics')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tables": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "rows": {
                                  "type": "array"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Query_Capacity_Metrics": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_HighCount": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "sustainedHighCount",
                    "type": "integer",
                    "value": 0
                  }
                ]
              },
              "runAfter": {
                "Parse_Metrics_Response": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_LowCount": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "sustainedLowCount",
                    "type": "integer",
                    "value": 0
                  }
                ]
              },
              "runAfter": {
                "Initialize_HighCount": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_TotalUtilization": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "totalUtilization",
                    "type": "float",
                    "value": 0.0
                  }
                ]
              },
              "runAfter": {
                "Initialize_LowCount": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_DataPointCount": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "dataPointCount",
                    "type": "integer",
                    "value": 0
                  }
                ]
              },
              "runAfter": {
                "Initialize_TotalUtilization": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_ScaleUpUtilization": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "scaleUpUtilization",
                    "type": "float",
                    "value": 0.0
                  }
                ]
              },
              "runAfter": {
                "Initialize_DataPointCount": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_ScaleUpCount": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "scaleUpCount",
                    "type": "integer",
                    "value": 0
                  }
                ]
              },
              "runAfter": {
                "Initialize_ScaleUpUtilization": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_ScaleDownUtilization": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "scaleDownUtilization",
                    "type": "float",
                    "value": 0.0
                  }
                ]
              },
              "runAfter": {
                "Initialize_ScaleUpCount": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_ScaleDownCount": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "scaleDownCount",
                    "type": "integer",
                    "value": 0
                  }
                ]
              },
              "runAfter": {
                "Initialize_ScaleDownUtilization": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_MaxTimestamp": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "maxTimestamp",
                    "type": "string",
                    "value": ""
                  }
                ]
              },
              "runAfter": {
                "Initialize_ScaleDownCount": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_FirstTimestamp": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "firstTimestamp",
                    "type": "string",
                    "value": ""
                  }
                ]
              },
              "runAfter": {
                "Initialize_MaxTimestamp": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_LastTimestamp": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "lastTimestamp",
                    "type": "string",
                    "value": ""
                  }
                ]
              },
              "runAfter": {
                "Initialize_FirstTimestamp": [
                  "Succeeded"
                ]
              }
            },
            "Find_Max_Timestamp": {
              "type": "Foreach",
              "foreach": "@body('Parse_Metrics_Response')?['results']?[0]?['tables']?[0]?['rows']",
              "actions": {
                "Update_Max_Timestamp": {
                  "type": "If",
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@variables('maxTimestamp')",
                          ""
                        ]
                      },
                      {
                        "greater": [
                          "@item()['Usage Summary (Last 1 hour)[Timestamp]']",
                          "@variables('maxTimestamp')"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Set_New_Max_Timestamp": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "maxTimestamp",
                        "value": "@{item()['Usage Summary (Last 1 hour)[Timestamp]']}"
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Initialize_LastTimestamp": [
                  "Succeeded"
                ]
              }
            },
            "Check_If_Data_Available": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@variables('maxTimestamp')",
                        ""
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "Calculate_ScaleUp_Cutoff_Time": {
                  "type": "Compose",
                  "inputs": "@addMinutes(variables('maxTimestamp'), mul(-1, parameters('scaleUpMinutes')))"
                },
                "Calculate_ScaleDown_Cutoff_Time": {
                  "type": "Compose",
                  "inputs": "@addMinutes(variables('maxTimestamp'), mul(-1, parameters('scaleDownMinutes')))",
                  "runAfter": {
                    "Calculate_ScaleUp_Cutoff_Time": [
                      "Succeeded"
                    ]
                  }
                },
                "Process_All_Data_Points": {
              "type": "Foreach",
              "foreach": "@body('Parse_Metrics_Response')?['results']?[0]?['tables']?[0]?['rows']",
              "actions": {
                "Increment_Total_DataPointCount": {
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "dataPointCount",
                    "value": 1
                  }
                },
                "Check_If_Within_ScaleUp_Window": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greaterOrEquals": [
                          "@item()['Usage Summary (Last 1 hour)[Timestamp]']",
                          "@outputs('Calculate_ScaleUp_Cutoff_Time')"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Increment_ScaleUp_Count": {
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "scaleUpCount",
                        "value": 1
                      }
                    },
                    "Add_ScaleUp_Utilization": {
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "scaleUpUtilization",
                        "value": "@float(item()['Usage Summary (Last 1 hour)[Average CU %]'])"
                      },
                      "runAfter": {
                        "Increment_ScaleUp_Count": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "Increment_Total_DataPointCount": [
                      "Succeeded"
                    ]
                  }
                },
                "Check_If_Within_ScaleDown_Window": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greaterOrEquals": [
                          "@item()['Usage Summary (Last 1 hour)[Timestamp]']",
                          "@outputs('Calculate_ScaleDown_Cutoff_Time')"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Increment_ScaleDown_Count": {
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "scaleDownCount",
                        "value": 1
                      }
                    },
                    "Add_ScaleDown_Utilization": {
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "scaleDownUtilization",
                        "value": "@float(item()['Usage Summary (Last 1 hour)[Average CU %]'])"
                      },
                      "runAfter": {
                        "Increment_ScaleDown_Count": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "Check_If_Within_ScaleUp_Window": [
                      "Succeeded"
                    ]
                  }
                },
                "Update_First_Timestamp": {
                  "type": "If",
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@variables('firstTimestamp')",
                          ""
                        ]
                      },
                      {
                        "greater": [
                          "@item()['Usage Summary (Last 1 hour)[Timestamp]']",
                          "@variables('firstTimestamp')"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Set_FirstTimestamp_Value": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "firstTimestamp",
                        "value": "@{item()['Usage Summary (Last 1 hour)[Timestamp]']}"
                      }
                    }
                  },
                  "runAfter": {
                    "Check_If_Within_ScaleDown_Window": [
                      "Succeeded"
                    ]
                  }
                },
                "Update_Last_Timestamp": {
                  "type": "If",
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@variables('lastTimestamp')",
                          ""
                        ]
                      },
                      {
                        "less": [
                          "@item()['Usage Summary (Last 1 hour)[Timestamp]']",
                          "@variables('lastTimestamp')"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Set_LastTimestamp_Value": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "lastTimestamp",
                        "value": "@{item()['Usage Summary (Last 1 hour)[Timestamp]']}"
                      }
                    }
                  },
                  "runAfter": {
                    "Update_First_Timestamp": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Calculate_ScaleDown_Cutoff_Time": [
                  "Succeeded"
                ]
              }
            },
            "Calculate_ScaleUp_Average": {
              "type": "Compose",
              "inputs": "@if(greater(variables('scaleUpCount'), 0), div(variables('scaleUpUtilization'), variables('scaleUpCount')), 0)",
              "runAfter": {
                "Process_All_Data_Points": [
                  "Succeeded"
                ]
              }
            },
            "Calculate_ScaleDown_Average": {
              "type": "Compose",
              "inputs": "@if(greater(variables('scaleDownCount'), 0), div(variables('scaleDownUtilization'), variables('scaleDownCount')), 0)",
              "runAfter": {
                "Calculate_ScaleUp_Average": [
                  "Succeeded"
                ]
              }
            },
            "Determine_Scaling_Action": {
              "type": "Compose",
              "inputs": "@if(greaterOrEquals(float(outputs('Calculate_ScaleUp_Average')), parameters('scaleUpThreshold')), 'SCALE_UP', if(lessOrEquals(float(outputs('Calculate_ScaleDown_Average')), parameters('scaleDownThreshold')), 'SCALE_DOWN', 'NONE'))",
              "runAfter": {
                "Calculate_ScaleDown_Average": [
                  "Succeeded"
                ]
              }
            },
            "Execute_Scaling_Decision": {
              "type": "Switch",
              "expression": "@outputs('Determine_Scaling_Action')",
              "cases": {
                "Scale_Up": {
                  "case": "SCALE_UP",
                  "actions": {
                    "Check_Not_Already_Scaled_Up": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Parse_Capacity_Info')?['sku']?['name']",
                                "@parameters('scaleUpSku')"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Scale_Up_Capacity": {
                          "type": "Http",
                          "inputs": {
                            "method": "PATCH",
                            "uri": "https://management.azure.com/subscriptions/@{parameters('fabricSubscriptionId')}/resourceGroups/@{parameters('fabricResourceGroup')}/providers/Microsoft.Fabric/capacities/@{parameters('fabricCapacityName')}?api-version=2023-11-01",
                            "authentication": {
                              "type": "ManagedServiceIdentity",
                              "audience": "https://management.azure.com/"
                            },
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "sku": {
                                "name": "@{parameters('scaleUpSku')}",
                                "tier": "Fabric"
                              }
                            }
                          }
                        },
                        "Send_ScaleUp_Email": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['office365']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/v2/Mail",
                            "body": {
                              "To": "@parameters('emailRecipient')",
                              "Subject": "Fabric Capacity Scaled UP - @{parameters('fabricCapacityName')}",
                              "Body": "<p><strong>Fabric Capacity Auto-Scale Alert</strong></p><p><strong>Action:</strong> SCALED UP</p><p><strong>Capacity:</strong> @{parameters('fabricCapacityName')}</p><p><strong>Previous SKU:</strong> @{body('Parse_Capacity_Info')?['sku']?['name']}</p><p><strong>New SKU:</strong> @{parameters('scaleUpSku')}</p><p><br></p><p><strong>Trigger Analysis:</strong></p><p>&nbsp;&nbsp;• Evaluation Window: Last @{parameters('scaleUpMinutes')} minutes</p><p>&nbsp;&nbsp;• Data Points Evaluated: @{variables('scaleUpCount')}</p><p>&nbsp;&nbsp;• Average Utilization: @{outputs('Calculate_ScaleUp_Average')}%</p><p>&nbsp;&nbsp;• Threshold: @{parameters('scaleUpThreshold')}%</p><p><br></p><p><strong>Data Window:</strong></p><p>&nbsp;&nbsp;• Cutoff Time: @{outputs('Calculate_ScaleUp_Cutoff_Time')}</p><p>&nbsp;&nbsp;• Newest Data Point: @{variables('maxTimestamp')}</p><p>&nbsp;&nbsp;• Total Data Points Retrieved: @{variables('dataPointCount')}</p>",
                              "Importance": "High"
                            }
                          },
                          "runAfter": {
                            "Scale_Up_Capacity": [
                              "Succeeded"
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "Scale_Down": {
                  "case": "SCALE_DOWN",
                  "actions": {
                    "Check_Not_Already_Scaled_Down": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Parse_Capacity_Info')?['sku']?['name']",
                                "@parameters('scaleDownSku')"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Scale_Down_Capacity": {
                          "type": "Http",
                          "inputs": {
                            "method": "PATCH",
                            "uri": "https://management.azure.com/subscriptions/@{parameters('fabricSubscriptionId')}/resourceGroups/@{parameters('fabricResourceGroup')}/providers/Microsoft.Fabric/capacities/@{parameters('fabricCapacityName')}?api-version=2023-11-01",
                            "authentication": {
                              "type": "ManagedServiceIdentity",
                              "audience": "https://management.azure.com/"
                            },
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "sku": {
                                "name": "@{parameters('scaleDownSku')}",
                                "tier": "Fabric"
                              }
                            }
                          }
                        },
                        "Send_ScaleDown_Email": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['office365']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/v2/Mail",
                            "body": {
                              "To": "@parameters('emailRecipient')",
                              "Subject": "Fabric Capacity Scaled DOWN - @{parameters('fabricCapacityName')}",
                              "Body": "<p><strong>Fabric Capacity Auto-Scale Alert</strong></p><p><strong>Action:</strong> SCALED DOWN</p><p><strong>Capacity:</strong> @{parameters('fabricCapacityName')}</p><p><strong>Previous SKU:</strong> @{body('Parse_Capacity_Info')?['sku']?['name']}</p><p><strong>New SKU:</strong> @{parameters('scaleDownSku')}</p><p><br></p><p><strong>Trigger Analysis:</strong></p><p>&nbsp;&nbsp;• Evaluation Window: Last @{parameters('scaleDownMinutes')} minutes</p><p>&nbsp;&nbsp;• Data Points Evaluated: @{variables('scaleDownCount')}</p><p>&nbsp;&nbsp;• Average Utilization: @{outputs('Calculate_ScaleDown_Average')}%</p><p>&nbsp;&nbsp;• Threshold: @{parameters('scaleDownThreshold')}%</p><p>&nbsp;&nbsp;• Cutoff Time: @{outputs('Calculate_ScaleDown_Cutoff_Time')}</p><p>&nbsp;&nbsp;• Newest Data Point: @{variables('maxTimestamp')}</p><p>&nbsp;&nbsp;• Total Data Points Retrieved: @{variables('dataPointCount')}</p>",
                              "Importance": "Normal"
                            }
                          },
                          "runAfter": {
                            "Scale_Down_Capacity": [
                              "Succeeded"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "runAfter": {
                "Determine_Scaling_Action": [
                  "Succeeded"
                ]
              }
            }
              },
              "runAfter": {
                "Find_Max_Timestamp": [
                  "Succeeded"
                ]
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[variables('office365ConnectionId')]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
              }
            }
          },
          "fabricSubscriptionId": {
            "value": "[parameters('fabricSubscriptionId')]"
          },
          "fabricResourceGroup": {
            "value": "[parameters('fabricResourceGroup')]"
          },
          "fabricCapacityName": {
            "value": "[parameters('fabricCapacityName')]"
          },
          "fabricWorkspaceId": {
            "value": "[parameters('fabricWorkspaceId')]"
          },
          "capacityMetricsDatasetId": {
            "value": "[parameters('capacityMetricsDatasetId')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]"
    },
    "roleAssignmentCommands": {
      "type": "string",
      "value": "[concat('# Assign Contributor role on Fabric capacity:\naz role assignment create --assignee ', reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId, ' --role Contributor --scope /subscriptions/', parameters('fabricSubscriptionId'), '/resourceGroups/', parameters('fabricResourceGroup'), '/providers/Microsoft.Fabric/capacities/', parameters('fabricCapacityName'), '\n\n# Grant Power BI REST API permissions - run in Azure Portal > Enterprise Applications > search for Logic App principal ID > API permissions')]"
    },
    "nextSteps": {
      "type": "string",
      "value": "1) Authorize Office 365 connection in Azure Portal > Resource Group > office365 connection. 2) Run the role assignment commands from 'roleAssignmentCommands' output. 3) Grant Power BI permissions to the Logic App managed identity. See DEPLOYMENT-GUIDE.md for detailed steps."
    }
  }
}
