Templates/fabric-autoscale-template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "FabricAutoScaleLogicApp"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "subscriptionId": {
      "type": "string",
      "metadata": { "description": "Azure subscription containing the Fabric capacity" }
    },
    "resourceGroup": {
      "type": "string",
      "metadata": { "description": "Resource group that contains the Fabric capacity" }
    },
    "fabricCapacityName": {
      "type": "string",
      "metadata": { "description": "Name of the Fabric capacity (e.g., my-fabric-capacity)" }
    },
    "notificationEmail": {
      "type": "string",
      "metadata": { "description": "Email address to notify" }
    },
    "teamsChannelId": {
      "type": "string",
      "metadata": { "description": "Teams channel/conversation ID to post messages into" }
    },
    "keyVaultName": {
      "type": "string",
      "metadata": { "description": "Key Vault name used to persist the last scale timestamp" }
    },
    "coolDownMinutes": {
      "type": "int",
      "defaultValue": 30,
      "metadata": { "description": "Minimum minutes between scale operations" }
    },
    "coolDownSecretName": {
      "type": "string",
      "defaultValue": "fabric-autoscale-last-scaled-utc",
      "metadata": { "description": "Key Vault secret name to store last scale UTC timestamp" }
    },
    "metricsEndpointUrl": {
      "type": "string",
      "defaultValue": "https://api.fabric.microsoft.com/v1/capacities/{capacityId}/metrics",
      "metadata": {
        "description": "HTTP endpoint that returns JSON with cuUsagePercentage (number). Replace with your metrics source or proxy."
      }
    },
    "scaleUpThreshold": {
      "type": "int",
      "defaultValue": 80,
      "metadata": { "description": "CU% threshold to trigger scale up" }
    },
    "scaleDownThreshold": {
      "type": "int",
      "defaultValue": 40,
      "metadata": { "description": "CU% threshold to trigger scale down" }
    },
    "scaleUpSku": {
      "type": "string",
      "defaultValue": "F128",
      "allowedValues": ["F2","F4","F8","F16","F32","F64","F128","F256","F512","F1024","F2048"]
    },
    "scaleDownSku": {
      "type": "string",
      "defaultValue": "F64",
      "allowedValues": ["F2","F4","F8","F16","F32","F64","F128","F256","F512","F1024","F2048"]
    }
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "office365",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "office365",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "teams",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "teams",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'teams')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', 'office365')]",
                "connectionName": "office365",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
              },
              "teams": {
                "connectionId": "[resourceId('Microsoft.Web/connections', 'teams')]",
                "connectionName": "teams",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'teams')]"
              }
            }
          }
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Every_5_Minutes": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Minute",
                "interval": 5
              }
            }
          },
          "actions": {
            "Init_LastScaleUtc": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "LastScaleUtc",
                    "type": "String",
                    "value": "1900-01-01T00:00:00Z"
                  }
                ]
              },
              "runAfter": {}
            },
            "Get_LastScale_Secret": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://@{parameters('keyVaultName')}.vault.azure.net/secrets/@{parameters('coolDownSecretName')}?api-version=7.4",
                "authentication": {
                  "type": "ManagedServiceIdentity"
                },
                "headers": {
                  "Accept": "application/json"
                }
              },
              "runAfter": {
                "Init_LastScaleUtc": [
                  "Succeeded"
                ]
              }
            },
            "If_Secret_Succeeded": {
              "type": "If",
              "expression": "@equals(actions('Get_LastScale_Secret').status, 'Succeeded')",
              "actions": {
                "Set_LastScale_From_Secret": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "LastScaleUtc",
                    "value": "@body('Get_LastScale_Secret')?['value']"
                  }
                }
              },
              "runAfter": {
                "Get_LastScale_Secret": [
                  "Succeeded",
                  "Failed"
                ]
              }
            },
            "Get_CU": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@{parameters('metricsEndpointUrl')}",
                "headers": {
                  "Accept": "application/json"
                }
                /* NOTE:
                   - Provide an endpoint that returns {"cuUsagePercentage": <number> }.
                   - If authentication is required, replace with appropriate connector or MSI-secured endpoint.
                */
              },
              "runAfter": {
                "If_Secret_Succeeded": [
                  "Succeeded"
                ]
              }
            },
            "Parse_CU": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_CU')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "cuUsagePercentage": {
                      "type": "number"
                    }
                  },
                  "required": ["cuUsagePercentage"]
                }
              },
              "runAfter": {
                "Get_CU": [
                  "Succeeded"
                ]
              }
            },
            "Check_CoolDown": {
              "type": "If",
              "expression": "@greaterOrEquals(utcNow(), addMinutes(variables('LastScaleUtc'), parameters('coolDownMinutes')))",
              "actions": {
                "If_ScaleUp": {
                  "type": "If",
                  "expression": "@greater(body('Parse_CU')?['cuUsagePercentage'], parameters('scaleUpThreshold'))",
                  "actions": {
                    "Scale_Up": {
                      "type": "Http",
                      "inputs": {
                        "method": "PATCH",
                        "uri": "https://management.azure.com/subscriptions/@{parameters('subscriptionId')}/resourceGroups/@{parameters('resourceGroup')}/providers/Microsoft.Fabric/capacities/@{parameters('fabricCapacityName')}?api-version=2023-11-01",
                        "authentication": {
                          "type": "ManagedServiceIdentity"
                        },
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "sku": {
                            "name": "@{parameters('scaleUpSku')}"
                          }
                        }
                      }
                    },
                    "Set_LastScale_After_Up": {
                      "type": "Http",
                      "inputs": {
                        "method": "PUT",
                        "uri": "https://@{parameters('keyVaultName')}.vault.azure.net/secrets/@{parameters('coolDownSecretName')}?api-version=7.4",
                        "authentication": {
                          "type": "ManagedServiceIdentity"
                        },
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "value": "@utcNow()"
                        }
                      },
                      "runAfter": {
                        "Scale_Up": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Notify_Email_Up": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                          }
                        },
                        "method": "POST",
                        "path": "/v2/Mail",
                        "body": {
                          "To": "@parameters('notificationEmail')",
                          "Subject": "Fabric Capacity Scaled UP",
                          "Body": "Capacity @{parameters('fabricCapacityName')} scaled UP to @{parameters('scaleUpSku')} because CU usage exceeded @{parameters('scaleUpThreshold')}%."
                        }
                      },
                      "runAfter": {
                        "Set_LastScale_After_Up": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Notify_Teams_Up": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['teams']['connectionId']"
                          }
                        },
                        "method": "POST",
                        "path": "/v3/conversations/@{parameters('teamsChannelId')}/messages",
                        "body": {
                          "text": "Fabric capacity **@{parameters('fabricCapacityName')}** scaled **UP** to **@{parameters('scaleUpSku')}** (CU > @{parameters('scaleUpThreshold')}%)."
                        }
                      },
                      "runAfter": {
                        "Notify_Email_Up": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "If_ScaleDown": {
                        "type": "If",
                        "expression": "@less(body('Parse_CU')?['cuUsagePercentage'], parameters('scaleDownThreshold'))",
                        "actions": {
                          "Scale_Down": {
                            "type": "Http",
                            "inputs": {
                              "method": "PATCH",
                              "uri": "https://management.azure.com/subscriptions/@{parameters('subscriptionId')}/resourceGroups/@{parameters('resourceGroup')}/providers/Microsoft.Fabric/capacities/@{parameters('fabricCapacityName')}?api-version=2023-11-01",
                              "authentication": {
                                "type": "ManagedServiceIdentity"
                              },
                              "headers": {
                                "Content-Type": "application/json"
                              },
                              "body": {
                                "sku": {
                                  "name": "@{parameters('scaleDownSku')}"
                                }
                              }
                            }
                          },
                          "Set_LastScale_After_Down": {
                            "type": "Http",
                            "inputs": {
                              "method": "PUT",
                              "uri": "https://@{parameters('keyVaultName')}.vault.azure.net/secrets/@{parameters('coolDownSecretName')}?api-version=7.4",
                              "authentication": {
                                "type": "ManagedServiceIdentity"
                              },
                              "headers": {
                                "Content-Type": "application/json"
                              },
                              "body": {
                                "value": "@utcNow()"
                              }
                            },
                            "runAfter": {
                              "Scale_Down": [
                                "Succeeded"
                              ]
                            }
                          },
                          "Notify_Email_Down": {
                            "type": "ApiConnection",
                            "inputs": {
                              "host": {
                                "connection": {
                                  "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                              },
                              "method": "POST",
                              "path": "/v2/Mail",
                              "body": {
                                "To": "@parameters('notificationEmail')",
                                "Subject": "Fabric Capacity Scaled DOWN",
                                "Body": "Capacity @{parameters('fabricCapacityName')} scaled DOWN to @{parameters('scaleDownSku')} because CU usage dropped below @{parameters('scaleDownThreshold')}%."
                              }
                            },
                            "runAfter": {
                              "Set_LastScale_After_Down": [
                                "Succeeded"
                              ]
                            }
                          },
                          "Notify_Teams_Down": {
                            "type": "ApiConnection",
                            "inputs": {
                              "host": {
                                "connection": {
                                  "name": "@parameters('$connections')['teams']['connectionId']"
                                }
                              },
                              "method": "POST",
                              "path": "/v3/conversations/@{parameters('teamsChannelId')}/messages",
                              "body": {
                                "text": "Fabric capacity **@{parameters('fabricCapacityName')}** scaled **DOWN** to **@{parameters('scaleDownSku')}** (CU < @{parameters('scaleDownThreshold')}%)."
                              }
                            },
                            "runAfter": {
                              "Notify_Email_Down": [
                                "Succeeded"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Compose_Skip": {
                    "type": "Compose",
                    "inputs": "Cool-down active; skipping scale."
                  }
                }
              },
              "runAfter": {
                "Parse_CU": [
                  "Succeeded"
                ]
              }
            }
          },
          "outputs": {}
        }
      }
    }
  ]
}
